{{#main-map as |currentLocation destination geoJSON|}}
  {{#leaflet-map bounds=(lat-lng-bounds currentLocation destination) as |layers|}}
    {{layers.geoJSON geoJSON=geoJSON}}

    {{layers.tile url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}

    {{#layers.marker location=currentLocation as |marker|}}
      {{#marker.popup}}
        <h3>Your Current Location</h3>
      {{/marker.popup}}
    {{/layers.marker}}

    {{#layers.marker location=destination as |marker|}}
      {{#marker.popup}}
        <h3>Totality</h3>
      {{/marker.popup}}
    {{/layers.marker}}

  {{/leaflet-map}}
{{/main-map}}
